*{
  box-sizing:border-box;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  padding:10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: white;
}

.container form .u_details{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:20px 0 12px 0;
}
form .u_details .input {
  margin-bottom: 14px;
  width:calc(100%/2 - 20px);
}

.text_input[type=text], .password_input[type=password], .age_input[type = number], .tel_input[type=tel]{
  border: 2px solid #f0f0f0;
  width: 100%;
  height:45px;
  outline:none;
  border-radius:5px;
  display: inline-block;
  padding-left:15px;
  background: #f1f1f1;
  font-size:16px;
}

.form_hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.submitBtn {
  background-color: #185a9d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

.submitBtn:hover {
  opacity: 1;
}

.form_links {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.text_centre{
  text-align:center;
}

.register_background {
  background:linear-gradient(90deg, #dd5e89 , #f7bb97 );
}

@media(max-width:584px){
  .container {
    max-width:100%;
  }
  form .u_details .input {
    margin-bottom:15px;
    width: 100%;
  }
  .container form .u_details {
    max-height:300px;
    overflow-y: scroll;

  }
}

.input small {
  visibility:hidden;
  position:relative;
  bottom:0;
  left:0;
}

.input.success input{
border-color : #2ecc71
}

.input.error input {
border-color:#e74c3c;
}

.input.error small{
  color:#e74c3c;
  visibility: visible;
}

.input.link a {
  color:dodgerblue;
  visibility:visible;
}

.input.link input {
  border-color : #2ecc71
}

.input.error.success a {
  visibility: hidden;
}

.input a {
  visibility:hidden;

}

form .center {
  position: relative;
  margin:auto;
}
